@import '~/assets/styles/global.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: $white-1;
  padding: 2.5vh 3.2vw 1.5vh;
  z-index: 10;

  & img {
    width: 95px;
  }
}

// @media all and (min-height: 280px) and (max-height: 679px) {
//   .header {
//     box-shadow: 0 2vh 10vh rgba(black, 0.1);
//   }
// }

// @media all and (min-height: 280px) and (max-height: 679px) and (orientation: landscape) {
//   .header {
//     padding: 2.5vh calc(#{$base_padding_hor} * 2) 1.5vh;
//   }
// }
