@import '~/assets/styles/global.scss';

.header {
  position: absolute;
  top: 0;

  width: 100%;
  background-color: $white-1;
  padding: 3.2vh 2.6vw 2.2vh;

  z-index: 10001;

  & img {
    height: 4vh;
    width: 6.3vw;
  }
}

@media all and (max-width: 768px) {
  .header {
    & img {
      height: 3vh;
      width: 18vw;
    }
  }
}
