@import './global.scss';

body {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;

  & * {
    box-sizing: border-box;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  p,
  small,
  label,
  button {
    margin: 0;
    padding: 0;
    border: 0;
  }
  input {
    font-family: 'Work Sans', sans-serif;
  }
}

.app {
  width: 100%;
  background: $white-2;
  font-family: 'Work Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.9vh;
  min-height: calc(100% - 8.9vh);
}
